
			*{
				padding: 0;
				margin: 0;
				font-size: 0.14rem;
				font-weight: normal;
			}
			a{
				text-decoration: none;
			}
			ul li{
				list-style-type: none;
			}
			.header{
				height: 1.28rem;
				background-color:deeppink;
			}
			.header .right{
				float:right;
				width: 0.7rem;
				height: 0.6rem;
				margin-top: 0.5rem;
				margin-right: 0.5rem;
				color: honeydew;
				font-size: 0.35rem;
			}
			.mine{
				height:2.5rem;
				background-color: deeppink;
			}
			.yonghuming{
				width: 1.5rem;
				height: 1.5rem;
				margin-left: 3rem;
				background-image: url('../images/touxiang.png');
				background-size: cover;
				border-radius: 0.75rem;
			}
			.username{
				width: 2rem;
				height: 0.4rem;
				margin-left: 2.75rem;
				margin-top: 0.1rem;
				color:honeydew;
				font-size: 0.35rem;
				text-align: center;
			}
			.content ul{
				height: 5.2rem;
			}
			.content ul li{
				border-bottom: 1px solid #bcbcbc;
				height: 1rem;
				line-height: 1rem;
			}
			.content ul a li{
				font-size: 0.4rem;
				color: black;
				
			}
			.content ul a li:hover{
				color: deeppink;
			}
			.content ul a li img{
				width: 0.6rem;
				height: 0.58rem;
				margin-left: 0.1rem;
				margin-top: 0.1rem;
			}
			.content ul a li .right{
			width: 0.2rem;
			height: 0.4rem;
			margin-right: 0.2rem;
			}
			.btn{
				width: 100%;
				height: 1rem;
				font-size: 0.4rem;
				color: #ff5263;
				background-color:white;
				border:0.04rem solid #f73c45;
				margin-top: 0.15rem;
			}
			.btn:hover{
				background-color:#f73c45;
				color: white;
			}
				.footer {
				position: fixed;
				bottom: -0.1rem;
				height: 1.1rem;
				border: 1px solid lightgray;
				background-color: white;
				width: 7.5rem;
	
			}
			.footer ul li{
				float: left;
				width: 20%;
				font-size: 0.22rem;
				text-align: center;
				height: 1rem;
				margin-top: 0.1rem;
			}
			.footer ul li a{
				color: #bcbcbc;
			}
			.footer ul li a:hover{
				color: deeppink;
			}
			.icon{
				width: 0.6rem;
				height: 0.5rem;
			}
			.sp{
				width: 0.8rem;
			}
